/*
 * Globals
 */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.full-height {
    height: 100%;
}

.full-width {
    width: 100%;
}

.display-flex {
    display: flex;
}

body {
    flex-direction: column;
    font-family: "Nunito", sans-serif;
    background-color: #1f1f1f;
    font-weight: 300;
    color: white;
}

strong {
    font-weight: 600;
}
a {
    text-decoration: none;
    font-weight: bold;
}

/*.nunito-bold {*/
/*             font-family: "Nunito", sans-serif;*/
/*             font-optical-sizing: auto;*/
/*             font-weight: 600;*/
/*             font-style: normal;*/
/*         }*/

footer {
    color: #888888;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.shadow-background {
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
    position: fixed;
    z-index: -1;
}

.main-page-container {
    max-width: 60em;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
}
.site-title {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    /*border-bottom: 0.6rem solid #dc3545;*/
    text-shadow: rgba(255, 193, 7, 0.7) 0 0 0.6rem;
    padding: 0 2rem;
}

.top-hr {
    background-color: rgba(75, 75, 75, 0.5);
    height: 0.4rem;
    border-radius: 0.2rem;
    margin-bottom: 1rem;
    box-shadow: 0 0 1.3rem rgba(0, 0, 0, .4);
}
/*
navigation
 */

.top-nav {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 0 1rem 2rem 1rem;
    font-size: 1.2rem;
    flex-wrap: wrap;
    gap: 0.5rem;

}

.top-nav-link {
    flex-grow: 1;
    text-shadow: rgb(0, 0, 0) 0 0 0.5rem;
}

.top-nav-link:link, .top-nav-link:visited {
    color: #9f9f9f;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 0.3rem;
    border-radius: 0.3rem;
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5);
}

.top-nav-link:hover, .top-nav-link:focus {
    color: #ffc107;
    box-shadow: 0 0 .5rem #ffc107;
}

.top-nav-link:active, .top-nav-link.active {
    color: #ffc107;
    border-bottom: 4px solid #ffc107;
    box-shadow: 0 0 .5rem #ffc107;
}

/*@media (max-width: 565px) {*/
/*    .top-nav {*/
/*        flex-direction: column;*/
/*        margin: 0 0.1rem;*/
/*    }*/

/*    .top-nav-link {*/

/*    }*/
/*}*/

/*
cover
 */

.cover-container {
    margin: auto;
}

.cover-highlight {
    display: flex;
    flex-direction: column;
    max-width: 40em;
    padding: 3rem;
    background-color: rgba(75, 75, 75, 0.5);
    border-radius: 3rem;
    box-shadow: 0 0 3rem rgba(0, 0, 0, 0.5);
}

.cover-title {
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: 0.3rem solid rgba(75, 75, 75, 0.5);
    text-shadow: rgba(255, 193, 7, 0.7) 0 0 0.6rem;
}

.cover-text {
    font-size: 1.4rem;
    margin-bottom: 2.5rem;
    color: #9d9d9d;
    text-shadow: rgb(0, 0, 0) 0 0 0.5rem;
}

.cover-button {
font-size: 1.2rem;
    color: white;
    background-color: #dc3545;
    border: 2px solid #ffc107;
    border-radius: 1rem;
    padding: 0.8rem;
max-width: 20rem;
    margin: 0 auto;
    box-shadow: 0 0 .5rem #ffc107;
    text-shadow: black 0 0 0.2rem;
}

.cover-button:hover {
    color: black;
    background-color: #ffc107;
    border: 2px solid #ffc107;
    box-shadow: 0 0 .5rem #ffc107;
    text-shadow: none;
}

/*
main
 */

.main-content {
    display: flex;
    flex-direction: column;
}

.content-header {
    display: flex;
    flex-direction: column;
    max-width: 60em;
    padding: 2rem;
    margin: 0 auto;
    background-color: rgba(75, 75, 75, 0.5);
    border-radius: 3rem;
    box-shadow: 0 0 3rem rgba(0, 0, 0, 0.5);
}
.content-header-title {
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: 0.3rem solid rgba(75, 75, 75, 0.5);
    text-shadow: rgba(0, 0, 0, 0.5) 0 0 0.6rem;
}

.content-header-text {
    font-size: 1.4rem;
    color: #9d9d9d;
    text-shadow: rgb(0, 0, 0) 0 0 0.5rem;
}

/*
about-grid
 */

.about-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
padding: 5rem 0;
}

.about-info {
    display: grid;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr;
 gap: 2rem;
}

@media (max-width: 1000px) {
    .about-info {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 650px) {
    .about-info {
        grid-template-columns: 1fr;
    }
}

/*.about-links {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    background-color: rgba(75, 75, 75, 0.5);*/
/*    border-radius: 0.6rem;*/
/*    padding: 1rem;*/
/*}*/

.about-links {
    font-size: 1.2rem;
    color: #a6a6a6;
    background-color: rgba(220, 53, 69, 0.7);
    border: 3px solid #ffc107;
    border-radius: 1rem;
    padding: 0.8rem;
    max-width: 20rem;
    margin: 0 auto;
    box-shadow: 0 0 .6rem rgba(255, 193, 7, 0.8);
    text-shadow: black 0 0 0.2rem;
}

.about-links:hover {
    color: #3a3a3a;
    background-color: rgba(255, 193, 7, 0.7);
    border: 2px solid #ffc107;
    box-shadow: 0 0 .5rem #ffc107;
    text-shadow: none;
}

.about-links-title, .about-links-title:hover {
    color: #ffffff;
    text-shadow: rgb(0, 0, 0) 0 0 0.5rem;
}

.about-links-title-box{
    padding-bottom: .5rem;
    border-bottom: 3px solid #ffc107;
    margin-bottom: 0.5rem;
}

.about-links-icons {
    color: #fff;
}

/*
about sub-pages
 */

.about-pages-header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 0;
    margin-bottom: 2rem;
}

.about-pages-header-grid {
    display: grid;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}


@media (max-width: 635px) {
    .about-pages-header-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 440px) {
    .about-pages-header-grid {
        display: flex;
        flex-direction: column;
    }

    .about-pages-header-grid {
        margin: 0 1rem;
    }
}


.about-pages-header-button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1rem;
    color: #a6a6a6;
    background-color: rgba(220, 53, 69, 0.7);
    border: 3px solid #ffc107;
    border-radius: 1rem;
    padding: 0.5rem;
    box-shadow: 0 0 .6rem rgba(255, 193, 7, 0.8);
}

.about-pages-header-button:hover {
    color: #3a3a3a;
    background-color: rgba(255, 193, 7, 0.7);
    border: 2px solid #ffc107;
    box-shadow: 0 0 .5rem #ffc107;
}

.about-pages-header-button-title {
    color: #ffffff;
    text-shadow: black 0 0 0.2rem;
}

.about-pages-header-button-icons {
    display: flex;
align-items: center;
    color: #fff;
    padding: 0 0.5rem;
}

.about-pages-header-button.active-button {
    background-color: rgba(255, 193, 7, 0.7);
    border: 2px solid #ffc107;
    box-shadow: 0 0 .5rem #ffc107;
}

/*
rules page
 */

.rules-container {
    display: flex;
    flex-direction: column;
    margin: 0 1rem 2rem 1rem;
    background-color: rgba(58, 58, 58, 0.5);
    padding: 1.5rem 2.5rem;
    border-radius: 1.5rem;
    font-size: 1.2rem;
    text-shadow: rgb(0, 0, 0) 0 0 0.5rem;
}

.rules-item-container {
    display: flex;
}

.rules-item-number {
    max-width: 10rem;
    padding: 1rem 2rem;
}

.rules-item-content {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: flex-start;
    text-align: left;
}

.rules-container-header-title {
    font-size: 2rem;
    margin-bottom: 2.5rem;
    padding-bottom: 1rem;
    border-bottom: 0.3rem solid rgba(75, 75, 75, 0.5);
    text-shadow: rgba(255, 193, 7, 0.7) 0 0 0.6rem;
}

.rules-container-header-body {
    text-align: left;
    font-weight: 200;
}

.rules-item-header {
    padding-bottom: 0.5rem;
    border-bottom: 0.3rem solid rgba(75, 75, 75, 0.5);
    margin-bottom: 0.5rem;
}

.etiquette-subtitles {
    font-size: 1.3rem;
    border-bottom: 0.3rem solid rgba(75, 75, 75, 0.5);
}
.etiquette-subtitles:not(:first-of-type):before {
    content: "";
    display: block;
    height: 2.5rem;
}
.etiquette-items {
    padding-left: 2rem;
}